body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #ebe9a6d3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ebe9a6d3;
}